attrs==19.3.0
certifi==2020.4.5.1
cycler==0.10.0
hypothesis==5.5.4
importlib-metadata==1.5.0
kiwisolver==1.1.0
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==8.2.0
numpy==1.18.1
packaging==20.3
pluggy==0.13.1
psutil==5.7.0
py==1.8.1
pyparsing==2.4.6
pytest==5.4.1
pytest-arraydiff==0.3
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
scipy==1.4.1
six==1.14.0
sortedcontainers==2.1.0
tornado==6.0.4
wcwidth==0.1.9
zipp==2.2.0
