[general_settings]
input_dir = input/
output_dir = output/
retrieval_input_dir = output/
retrieval_scratch_dir = retrieval_scratch/
retrieval_output_dir = retrieval/
retrieval_grid_file = RETRIEVE.par

[interpolation]
NUM_BETA_INTERP_POINTS = 100
NUM_MASS_INTERP_POINTS = 5
NUM_AGE_INTERP_POINTS = 5
